---
import { Icon } from "astro-icon";
---
<section class="bg-white py-8">
    <div class="container max-w-5xl mx-auto m-8">
      <div class="flex flex-wrap flex-col md:flex-row">
        <div class=" w-full md:w-1/2 p-6 mt-6 align-middle">
          <h3 class="text-3xl text-gray-800 font-bold leading-none mb-4 text-center sm:text-left">
            Ce este BioCoderDojo?
          </h3>
          <p class="text-gray-600 mb-8 text-justify px-4">
            Un context de educație non-formală cu acces gratuit, bazat pe implicarea voluntară a unor mentori proveniți din universități, firme, licee, dedicat elevilor interesați de domeniile aflate la convergența științelor vieții și tehnologiei, urmărind expunerea participanților la cele mai actuale evoluții privind biologia sintetică, genetica, bioinformatica, tehnologiile biomedicale, dar și domenii conexe, de la bioartă la bioetică. 
            O variațiune a conceptului original CoderDojo prin aducerea științelor vieții alături de tehnologie în centrul atenției elevilor participanți.
          </p>
        </div>
        <div class="w-full md:w-1/2 p-6">
          <Icon
          name=logo
          alt="BioCoderDojo logo"
          class="w-5/6 md:h-80 mx-auto object-contain"
          />
        </div>
      </div>
      
      <div class="flex flex-wrap flex-col-reverse md:flex-row">
        <div class="w-full md:w-1/2 p-6 mt-6 xl:mt-14">
          <Icon name=about-1 alt="Image of what we do" class="w-5/6 md:h-80 mx-auto" />
        </div>
        <div class="w-full md:w-1/2 p-6 mt-6">
          <div class="align-middle ">
            <h3 class="text-3xl text-gray-800 font-bold leading-none mb-4 text-center sm:text-left">
              Ce activități desfășurăm?
            </h3>
            <ul class="text-gray-600 mb-8 list-disc text-justify px-4">
              <li>Activități facilitate de învățare prin explorare și descoperire în domeniile menționate</li>
              <li>Activități practice în domeniul biologiei moleculare utilizând instrumente diverse, de la micropipete și microscoape la echipamente PCR și tancuri de electroforeză</li>
              <li>Întâlniri cu experți din domeniile de interes</li>
              <li>Vizite în laboratoare de cercetare, instituții și firme din domeniile de interes</li>
              <li>Participări la târguri de știință, competiții locale, regionale și internaționale</li>
              <li>Activități de introducere a adolescenților participanți în istoria descoperirilor științifice din domeniu și pentru înțelegerea domeniului cercetării științifice din domeniile științelor vieții prin programul de vară Nobel Explorers</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>