---

import Slider from "../components/card-slider.astro"
---
<section class="bg-black border-b py-8">
    <div class="container mx-auto flex flex-wrap pt-4 pb-12">
      <h2 class="w-full mb-7 text-5xl font-bold leading-tight text-center text-gray-800">
        Title
      </h2>
      <div class="relative">
        <Slider />
      </div>
</section>
