---
import { Icon } from "astro-icon";
---
<footer class="bg-white">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="flex justify-center items-center"></div>
      <div class="flex flex-col justify-center items-center py-2 sm:w-full md:flex-row sm:justify-between">
        <Icon
        name=logo
        alt="BioCoderDojo logo"
        class="md:me-3 mb-6 md:mb-0 w-40 md:w-28"
        />
        <a href="https://maps.app.goo.gl/P5ayhy54uWR1vhaf8" class="text-md mb-6 md:mb-0 text-gray-500 hover:text-gray-900 dark:hover:text-white flex transform transition hover:scale-105 duration-300 ease-in-out">
          <Icon name=location class="h-4 mt-1" alt="location" />
          <span class="ms-2">Bd. Mihai Viteazu, nr.1, Timișoara, România</span>
        </a>
        <div class="flex flex-row text-gray-500 font-medium gap-4 md:gap-5">
          <a href="https://www.facebook.com/BioCoderDojoTimisoara/" aria-label="Facebook page link" class="group">
            <Icon name=facebook alt="Facebook page" class="h-7 sm:h-6 mx-auto group-hover:text-slate-800 transform transition hover:scale-110 duration-300 ease-in-out" />
          </a>
          <a href="mailto:radu.ticiu@gmail.com" aria-label="Mail us" class="group">
            <Icon name=mail alt="Mail contact" class="h-7 sm:h-6 mx-auto group-hover:text-slate-800 transform transition hover:scale-110 duration-300 ease-in-out" />
          </a>
          <a href="tel:+40722691279" aria-label="Call us" class="group">
            <Icon name=phone alt="Phone contact" class="h-7 sm:h-6 mx-auto group-hover:text-slate-800 transform transition hover:scale-110 duration-300 ease-in-out" />
          </a>
        </div>
      </div>
    </div>
    <hr class="my-2 border-gray-200 sm:mx-auto lg:my-8">
    <div class="flex flex-col items-center justify-between">
      <span class="text-sm text-gray-500 sm:text-center mb-3">© 2023. All Rights Reserved.</span>
      <span class="text-xs text-gray-500 sm:text-center mb-0 flex flex-row">
        Made with
        <Icon alt="love" name=hearth class="h-4 fill-red-700 mx-px" />
        by 
        <a href="https://www.linkedin.com/in/restea-elias-ba2856245/" class="ms-1 hover:underline hover:text-gray-700">Restea Elias</a>
      </span>
    </div>
  </div>
</footer>