---
import "../styles/main.scss";
import { ViewTransitions } from 'astro:transitions';
import { Seo } from "astro-seo-meta"
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Seo
      title="BioCoderDojo"
      description="BioCoderDojo timisoara's website"
      keywords={[
        "Educație Non-Formală", "Mentorat Voluntar", "Colaborare Universitară",
        "Colaborare Corporativă", "Parteneriate Liceale", "Angajarea Studenților",
        "Educație în Biologie Sintetică", "Învățare Genetică", "Formare Bioinformatică",
        "Tehnologie Biomedicală", "Expunere Bioart", "Discuții Bioetică",
        "Varianta CoderDojo", "Științele Vieții și Tehnologia", "Învățare Exploratorie",
        "Unelte Biologie Moleculară", "Utilizare Echipament PCR", "Practică Electrophoreză",
        "Întâlniri cu Experți", "Vizite Laboratoare Cercetare", "Expunere Industrie",
        "Participare Târg Științific", "Competiții Internaționale",
        "Descoperiri Științifice Istorice", "Programul Exploratori Nobel"
    ]}
      icon="/favicon.ico"
      themeColor="#000000"
      colorScheme="light"
      facebook={{
          image: "/facebook.png",
          url: "https://www.facebook.com/BioCoderDojoTimisoara/",
          type: "website",
      }}
      twitter={{
          image: "/twitter.png",
          site: "@astrodotbuild",
          card: "summary",
      }}
    />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <ViewTransitions />
    <style>
      .gradient {
        background: linear-gradient(to bottom right, #19233D, #1E4964, #4FA4A4, #66C9C9, #7FE3EE);
      }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RX6ZM2E0X8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RX6ZM2E0X8');
    </script>
  </head>
  <body class="leading-normal tracking-normal text-white gradient">
    <slot />
  </body>
</html>
