---
import "../styles/main.scss";
import { ViewTransitions } from 'astro:transitions';
import { Seo } from "astro-seo-meta"

export interface Props {
  title?: string;
  description?: string;
  image?: string;
  noindex?: boolean;
  canonical?: string;
}

const { title, description, image, noindex, canonical } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Seo
      title="My Astro website"
      description="My blazing fast astro website"
      keywords={["website", "blog", "astro"]}
      icon="/favicon.ico"
      themeColor="#000000"
      colorScheme="light"
      facebook={{
          image: "/facebook.png",
          url: "https://astro.build",
          type: "website",
      }}
      twitter={{
          image: "/twitter.png",
          site: "@astrodotbuild",
          card: "summary",
      }}
    />
    <meta charset="UTF-8">
    <ViewTransitions />
    <style>
      .gradient {
        background: linear-gradient(to bottom right, #19233D, #1E4964, #4FA4A4, #66C9C9, #7FE3EE);
      }
    </style>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RX6ZM2E0X8"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-RX6ZM2E0X8');
    </script>
  </head>
  <body class="leading-normal tracking-normal text-white gradient">
    <slot />
  </body>
</html>
